* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
} 

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
}

.post-enter {
    transform: translateX(-350px);
}
.post-enter-active {
    transform: translateX(0px);
    opacity: 1;
    transition: all 500ms ease-in;
}
.post-exit {
    opacity: 1;
}
.post-exit-active {
    transform: translateX(-350px);
    transition: all 500ms ease-in;
}

.page__wrapper {
    margin-top: 30px;
    display: flex;
    margin-bottom: 30px;

}

.page {
    padding: 10px;
    border: 2px solid teal;
    cursor: pointer;
    border-left: 1px;
    background-color: white;
    color:teal
}

.page__current {
    background-color: teal;
    color:white
}

.page:first-child{
    border: 2px solid teal;
}

.navbar {
    height: 50px;
    width: 100vw;
    display: flex;
    align-items: center;
    padding: 0 15px;
    background: lightgray;
}

.navbar__links {
    margin-left:auto;
    /* display: flex */
}